Source: chaiscript
Section: interpreters
Priority: extra
Maintainer: Jason Turner and Jonathan Turner <jason@emptycrate.com>
Uploaders: Mark Friedenbach <mark@monetize.io>
Build-Depends: debhelper, cdbs, cmake, libboost-thread-dev
Standards-Version: 3.9.3
Homepage: https://github.com/ChaiScript/ChaiScript/
Vcs-Git: git://github.com/ChaiScript/ChaiScript.git
Vcs-Browser: https://github.com/ChaiScript/ChaiScript/

Package: chaiscript
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Embedded dynamic language in C++
 A JS-like language designed for embedding in C++ programs.
